<!DOCTYPE html>
<head>
    <title>404 | 7722 </title>
    <link rel="stylesheet" href="styles/404.css">
    <meta name="description" content="7722 Is an WWFRO Team and a FRC Comp Team that Based out of Kitchener,ON, That Competes in the Ontario Discrict ">
    <meta name="theme-color" content="#9D3434">
    <link rel="icon" type="image/png" sizes="300x250" href="images/logo.png">
  <meta property="og:image"
    content="https://seven722-site.onrender.com/images/logo.png" />
  <meta property="og:image:width" content="1024" />
  <meta property="og:image:height" content="1024" />
  <meta property="og:image:type" content="image/png" />
</head>

<body>

    <img src="images/logo.png" alt="Team Logo" width="500" height="500">
    <div class="message-box">
      <h1>404</h1>
      <p>Page not found</p>
      <div class="buttons-con">
        <div class="action-link-wrap">
          <a onclick="history.back(-1)" class="link-button link-back-button">Go Back</a>
          <a href="/" class="link-button">Go to Home Page</a>
        </div>
      </div>
    </div>
        <!-- Audio element to play audio file -->
    
    
        <script>
            // Play the audio when the page is loaded
            window.onload = function() {
                const audio = document.querySelector('audio');
                audio.play();
            };
        </script>
    
</body>