<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Internal Server Error</title>
    <link rel="stylesheet" href="styles/error.css">
</head>
<body>
 <!--- <div class="error-container">
        <h1>500 - Internal Server Error</h1>
        <p>Sorry, something went wrong on our end.</p>
    </div> -->
    <section class="tv-error-404-tm" style="background-image: url(images/logo.png); background-position:top center; background-size:cover; height:800px;">
        <div class="tv-dark-background-tm"></div>
        <div class="container tv-error-content-tm">
          <div class="col-md-12">
            <h1>Unexpected Error</h1>
            <h3>An error occurred and your request couldn’t be completed. Please try again!</h3>
          </div>
        </div>
      </section>
</body>
</html>