<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Our Website</title>
    <link rel="stylesheet" href="styles/home.css">
</head>
<body>
    <div class="color-barrier top"></div>
    <div class="color-barrier right"></div>
    <div class="color-barrier bottom"></div>
    <div class="color-barrier left"></div>
    
    <nav class="navbar">
        <div class="logo">
            <img src="images/logo.png" alt="Team Logo" width="50" height="50">
        </div>
        <div class="links">
            <a href="/annoucements">Annoucements</a>
            <a href="/sponser">Sponsers</a>
            <a href="/contact">Contact us!</a>
        </div>
        <div class="dropdown">
            <button class="dropbtn">Social & Team Info</button>
            <div class="dropdown-content">
                <a href="/event">Events</a>
                <a href="/dnoate">Donate</a>
                <a href="/ourteam">Our Team</a>
                <a href="/promovid">Promo Vid</a>
                <a href="/photos">Photo Album</a>
                <a href="https://www.instagram.com/frc7722/">Intstagram</a>
            </div>
        </div>
    </nav>
    <br>

    <header class="header">
        <img src="images/logo.png" alt="Team Logo" width="75" height="75">
        <br>
   <h1>Welcome to MechaPhoenix!</h1>
        <p class="typewriter">We are excited to have you here! MechaPhoenix is a FRC team based out of Kitchner, ON</p>
    </header>

    <footer class="footer">

        <p class="copyright">&copy; 2024 MechaPhoenix. All rights reserved.</p>
    </footer>

    <script src="js/home.js"></script>
</body>
</html>
