<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loading</title>
    <link rel="stylesheet" href="/styles/loading.css">
</head>
<body>
    
        <div class="color-barrier top"></div>
        <div class="color-barrier right"></div>
        <div class="color-barrier bottom"></div>
        <div class="color-barrier left"></div>
    <div class="loading-container">
        <img src="/images/logo.png" alt="Spinner" id="spinner" width="150" height="150">
    </div>
    <script>
        setTimeout(() => {
            window.location.href = "/home";
        }, 5000);
    </script>
    </div>
</body>
</html>
