<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Announcements</title>
    <link rel="stylesheet" href="styles/announcement.css">
</head>
<body>
    <h1 class="title">Announcements</h1>
    <div class="announcements-container">
        <% announcements.forEach(announcement => { %>
            <div class="announcement-card" onclick="openAnnouncementModal('<%= announcement.title %>', '<%= announcement.date %>', '<%= announcement.content %>')" >
                <img src="images/logo.png" alt="Logo" class="logo">
                <h3><%= announcement.title %></h3>
            
        <% }); %>
    </div>

<!-- Announcement Modal -->
<div id="announcement-modal" class="modal">
    <div class="modal-content">
        <span class="close" onclick="closeAnnouncementModal()">&times;</span>
        <h2 id="modal-title"></h2>
        <p id="modal-date"></p>
        <p id="modal-author">Author: 7722</p>
        <p id="modal-content"></p>
    </div>
</div>

<script>
      console.log("JavaScript code executed successfully");
    function openAnnouncementModal(title, author, date, content) {
        console.log("Opening announcement modal");
        document.getElementById('modal-title').innerText = title;
        document.getElementById('modal-date').innerText = "Date: " + new Date(date).toLocaleDateString();
        document.getElementById('modal-content');
        document.getElementById('announcement-modal').style.display = 'block';
    }

    function closeAnnouncementModal() {
        console.log("Closing announcement modal");
        document.getElementById('announcement-modal').style.display = 'none';
    }
</script>

</body>
</html>