<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Full Screen YouTube Embed</title>
    <link rel="stylesheet" href="styles/promo.css">
</head>
<body>
    <div class="video-container">
        <!-- Replace 'VIDEO_ID' with the ID of the YouTube video you want to embed -->
        <iframe src="https://www.youtube.com/embed/HBdj8IjUyc8?si=fKUIeu1P5rg4l0WP" frameborder="0" allowfullscreen></iframe>
    </div>
</body>
</html>
